[submodule "awesome-rl"]
	path = awesome-rl
	url = https://github.com/aikorea/awesome-rl
[submodule "rllab"]
	path = rllab
	url = https://github.com/openai/rllab.git
[submodule "DRL1"]
	path = DRL1
	url = https://github.com/muupan/deep-reinforcement-learning-papers.git
[submodule "DRL2"]
	path = DRL2
	url = https://github.com/junhyukoh/deep-reinforcement-learning-papers.git
[submodule "DRL3"]
	path = DRL3
	url = https://github.com/andrewliao11/Deep-Reinforcement-Learning-Survey.git
